<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<!-- Page Content-->
    <div class="container pb-4 mb-2 mt-5">
      <div class="row">
        <!-- Checkout: Address-->
        <div class="col-xl-9 col-lg-8 pb-5">
          <div class="wizard">
            <div class="wizard-steps d-flex flex-wrap flex-sm-nowrap justify-content-between">
              <div class="wizard-step active">1. Addresse</div><a class="wizard-step" href="checkout-shipping.html">2. Livraison</a><a class="wizard-step" href="checkout-payment.html">3. Paiement</a>
            </div>
            <div class="wizard-body">
              <h3 class="h5 pb-2">Addresse de Facturation</h3>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-fn">Prénom</label>
                    <input class="form-control" type="text" id="checkout-fn">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-email">Addresse E-mail</label>
                    <input class="form-control" type="email" id="checkout-email">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-phone">Téléphone</label>
                    <input class="form-control" type="text" id="checkout-phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-company">Entreprise (Optionnel)</label>
                    <input class="form-control" type="text" id="checkout-company">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-country">Pays</label>
                    <select class="form-control" id="checkout-country">
                      <option>Choisir le pays</option>
                      <option>Australie</option>
                      <option>Canada</option>
                      <option>France</option>
                      <option>Allemagne</option>
                      <option>Suisse</option>
                      <option>USA</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-city">Ville</label>
                    <select class="form-control" id="checkout-city">
                      <option>Choisir la ville</option>
                      <option>Amsterdam</option>
                      <option>Berlin</option>
                      <option>Genève</option>
                      <option>New York</option>
                      <option>Paris</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-zip">Code Postal</label>
                    <input class="form-control" type="text" id="checkout-zip">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-address-1">Addresse 1</label>
                    <input class="form-control" type="text" id="checkout-address-1">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="text-muted" for="checkout-address-2">Addresse 2</label>
                    <input class="form-control" type="text" id="checkout-address-2">
                  </div>
                </div>
              </div>
              <h3 class="h5 pt-3 pb-2">Addresse de Livraison</h3>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" checked id="same-address">
                <label class="custom-control-label" for="same-address">Similaire à l'adresse de facturation</label>
              </div>
            </div>
            <div class="wizard-footer d-flex justify-content-between"><a class="btn btn-secondary my-2" href="cart.html"><i class="fas fa-arrow-left mr-1"></i><span class="d-none d-sm-inline-block">Revenir au panier</span></a><a class="btn btn-primary my-2" href="checkout-shipping.html"><span class="d-none d-sm-inline-block">Continuer</span><i class="fas fa-arrow-right ml-1"></i></a></div>
          </div>
        </div>
        <!-- Sidebar-->
        <aside class="col-xl-3 col-lg-4 pb-4 mb-2">
          <!-- Order Summary-->
          <div class="widget">
            <h4 class="widget-title">Order Summary</h4>
            <div class="d-flex justify-content-between pb-2">
              <div>Cart subtotal:</div>
              <div class="font-weight-medium">$2,548.50</div>
            </div>
            <div class="d-flex justify-content-between pb-2">
              <div>Shipping:</div>
              <div class="font-weight-medium">$26.50</div>
            </div>
            <div class="d-flex justify-content-between pb-2">
              <div>Estimated tax:</div>
              <div class="font-weight-medium">$9.72</div>
            </div>
            <hr>
            <div class="pt-3 text-right text-lg font-weight-medium">$2,584.72</div>
          </div>
      </div>
    </aside>
  </div>
</div>