<div class="container mb-3 mt-5">
  <div class="row">
<div class="col-md-6 pb-5">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="wizard-body pt-2">
              <h3 class="h4 pt-4 pb-2">Connecte-toi</h3>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-mail"></i></span></div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
                <div class="invalid-feedback">Entre un email valide</div>
              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fe-icon-lock"></i></span></div>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Mot de Passe" %>
                <div class="invalid-feedback">Entre un mot de passe valide</div>
              </div>
              <div class="d-flex flex-wrap justify-content-between">
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :remember_me, class: "custom-control-input", id: "remember-me" %>
                  <%= f.label :se_souvenir_de_moi, class: "custom-control-label", for: "remember-me" %>
                </div>
                <%= link_to "Mot de passe oublié?", new_password_path(resource_name), class: "navi-link" %>
              </div>
            </div>
            <div class="wizard-footer mt-3">
              <%= f.submit "Me Connecter", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>