
<!-- Page Content-->
    <div class="container pb-5 mb-3 mt-5">
      <div class="row">
        <div class="col-lg-3">
          <!-- Shop Sidebar-->
          <!-- Off-Canvas Toggle--><a class="offcanvas-toggle" href="#shop-sidebar" data-toggle="offcanvas"><i class="fe-icon-sidebar"></i></a>
          <!-- Off-Canvas Container-->
          <aside class="offcanvas-container" id="shop-sidebar">
            <div class="offcanvas-scrollable-area px-4 pt-5 px-lg-0 pt-lg-0"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
              <!-- Categories-->
              <div class="widget widget-categories">
                <h4 class="widget-title">Catégories</h4>
                <ul>
                  <li><a href="#computers" data-toggle="collapse">Computers &amp; Accessories<span>&nbsp;(1138)</span></a>
                    <div class="collapse show" id="computers">
                      <ul>
                        <li><a href="#">Desktop PCs<span>&nbsp;(508)</span></a></li>
                        <li><a href="#">Laptops<span>&nbsp;(423)</span></a></li>
                        <li><a href="#">Nettops<span>&nbsp;(97)</span></a></li>
                        <li><a href="#">PC Accessories<span>&nbsp;(110)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#phones" data-toggle="collapse">Smartphones &amp; Tablets<span>&nbsp;(2356)</span></a>
                    <div class="collapse" id="phones">
                      <ul>
                        <li><a href="#">Smartphones<span>&nbsp;1032)</span></a></li>
                        <li><a href="#">Tablets<span>&nbsp;(937)</span></a></li>
                        <li><a href="#">Phablets<span>&nbsp;(386)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#tv" data-toggle="collapse">TV, Video &amp; Audio<span>&nbsp;(420)</span></a>
                    <div class="collapse" id="tv">
                      <ul>
                        <li><a href="#">Smart TV Sets<span>&nbsp;(180)</span></a></li>
                        <li><a href="#">Blue-Ray Players<span>&nbsp;(132)</span></a></li>
                        <li><a href="#">Sound Systems<span>&nbsp;(47)</span></a></li>
                        <li><a href="#">Home Theaters<span>&nbsp;(61)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#headphones" data-toggle="collapse">Headphones<span>&nbsp;(1239)</span></a>
                    <div class="collapse" id="headphones">
                      <ul>
                        <li><a href="#">Earbuds Headphones<span>&nbsp;(752)</span></a></li>
                        <li><a href="#">Over-Ear Headphones<span>&nbsp;(487)</span></a></li>
                        <li><a href="#">Bluetooth Headphones<span>&nbsp;(205)</span></a></li>
                        <li><a href="#">Sport &amp; Fitness<span>&nbsp;(96)</span></a></li>
                        <li><a href="#">Noise-Cancelling<span>&nbsp;(113)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#wearable" data-toggle="collapse">Wearable Electronics<span>&nbsp;(340)</span></a>
                    <div class="collapse" id="wearable">
                      <ul>
                        <li><a href="#">Smart Watches<span>&nbsp;(175)</span></a></li>
                        <li><a href="#">Fitness Trackers<span>&nbsp;(123)</span></a></li>
                        <li><a href="#">Smart Glasses<span>&nbsp;(42)</span></a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a class="collapsed" href="#printers" data-toggle="collapse">Printers &amp; Ink<span>&nbsp;(512)</span></a>
                    <div class="collapse" id="printers">
                      <ul>
                        <li><a href="#">All-in-One<span>&nbsp;(304)</span></a></li>
                        <li><a href="#">Copying<span>&nbsp;(115)</span></a></li>
                        <li><a href="#">Faxing<span>&nbsp;(211)</span></a></li>
                        <li><a href="#">Photo Printing<span>&nbsp;(68)</span></a></li>
                        <li><a href="#">Scanning<span>&nbsp;(143)</span></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Price range-->
              <div class="widget">
                <h4 class="widget-title">Prix</h4>
                <form class="range-slider" method="post" data-start-min="250" data-start-max="650" data-min="0" data-max="1000" data-step="1">
                  <div class="ui-range-slider"></div>
                  <footer class="ui-range-slider-footer">
                    <div class="column">
                      <button class="btn btn-primary btn-xs" type="submit">Filtrer</button>
                    </div>
                    <div class="column">
                      <div class="ui-range-values">
                        <div class="ui-range-label">Price:</div>
                        <div class="ui-range-value-min">$<span></span>
                          <input type="hidden">
                        </div>&nbsp;&ndash;&nbsp;
                        <div class="ui-range-value-max">$<span></span>
                          <input type="hidden">
                        </div>
                      </div>
                    </div>
                  </footer>
                </form>
              </div>
              <!-- Filter by brand-->
              <div class="widget">
                <h4 class="widget-title">Filtrer par race</h4>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="apple">
                  <label class="custom-control-label" for="apple">Apple&nbsp;<span class="text-muted">(254)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="bosh">
                  <label class="custom-control-label" for="bosh">Bosh&nbsp;<span class="text-muted">(39)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="canon">
                  <label class="custom-control-label" for="canon">Canon Inc.&nbsp;<span class="text-muted">(128)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="dell">
                  <label class="custom-control-label" for="dell">Dell&nbsp;<span class="text-muted">(310)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="hewlet">
                  <label class="custom-control-label" for="hewlet">Hewlett-Packard&nbsp;<span class="text-muted">(42)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="hitachi">
                  <label class="custom-control-label" for="hitachi">Hitachi&nbsp;<span class="text-muted">(217)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="lg">
                  <label class="custom-control-label" for="lg">LG Electronics&nbsp;<span class="text-muted">(310)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="panasonic">
                  <label class="custom-control-label" for="panasonic">Panasonic&nbsp;<span class="text-muted">(74)</span></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="siemens">
                  <label class="custom-control-label" for="siemens">Siemens&nbsp;<span class="text-muted">(86)</span></label>
                </div>
              </div>
              <!-- Popular products-->
              <div class="widget widget-featured-products">
                <h4 class="widget-title">Photos Populaires</h4><a class="featured-product" href="shop-single.html">
                  <div class="featured-product-thumb"><img src="img/widgets/shop/01.jpg" alt="Product Image"/>
                  </div>
                  <div class="featured-product-info">
                    <h5 class="featured-product-title">Amazon Echo Dot 2</h5>
                    <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                    </div><span class="featured-product-price">
                      <del>$62.00</del>&nbsp;$49.99</span>
                  </div></a><a class="featured-product" href="shop-single.html">
                  <div class="featured-product-thumb"><img src="img/widgets/shop/02.jpg" alt="Product Image"/>
                  </div>
                  <div class="featured-product-info">
                    <h5 class="featured-product-title">Zeus Bluetooth Earbuds</h5>
                    <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i><i class="fe-icon-star"></i>
                    </div><span class="featured-product-price">$28.99</span>
                  </div></a><a class="featured-product" href="shop-single.html">
                  <div class="featured-product-thumb"><img src="img/widgets/shop/03.jpg" alt="Product Image"/>
                  </div>
                  <div class="featured-product-info">
                    <h5 class="featured-product-title">Xbox One S White</h5>
                    <div class="rating-stars"><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star active"></i><i class="fe-icon-star"></i>
                    </div><span class="featured-product-price">$298.99</span>
                  </div></a>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-lg-9">
          <!-- Shop Toolbar-->
          <div class="d-flex justify-content-between pb-2">
            <div class="form-inline pb-4">
              <label class="text-muted mr-3" for="product-sort">Sort by</label>
              <select class="form-control mr-3" id="product-sort">
                <option>Popularité</option>
                <option>Low - Hight Price</option>
                <option>High - Low Price</option>
                <option>Average Rating</option>
                <option>A - Z Order</option>
                <option>Z - A Order</option>
              </select>
            </div>
            <div class="form-inline pb-4">
              <label class="text-muted mr-3" for="product-show"><span class='d-none d-sm-inline'>Show&nbsp;</span>products</label>
              <select class="form-control" id="product-show">
                <option>12</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
                <option>80</option>
                <option>100</option>
              </select>
            </div>
          </div>
          <!-- Shop Grid-->
          <div class="row">

        <% @items.each do |item| %>
			     <div class="col-md-4 col-sm-6 mb-30">
              <div class="product-card mx-auto mb-3">
                <div class="product-head text-right">
                  <div class="rating-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                  </div>
                </div><a class="product-thumb" href="shop-single.html"><img src="img/shop/11.jpg" alt="Product Thumbnail"/> <%= item.img_url %></a>
                <div class="product-card-body"><a class="product-meta" href="shop-categories.html">Headphones</a>
                  <h5 class="product-title"><a href="<%= item_path(item.id) %>"><%= item.title %></a></h5><span class="product-price"><%= item.price %> &nbsp; €</span>
                </div>
                <div class="product-buttons-wrap">
                  <div class="product-buttons">
                    <div class="product-button"><a href="#" data-toast data-toast-position="topRight" data-toast-type="info" data-toast-icon="fe-icon-help-circle" data-toast-title="Product" data-toast-message="added to your wishlist!"><i class="fas fa-heart"></i></a></div>
                    <div class="product-button"><%= link_to '<i class="fas fa-shopping-cart"></i> Add to cart'.html_safe, line_items_path(:item_id => item.id), :method => :post, :'data-toast data-toast-position' => 'topRight', :'data-toast-type' => 'success', :'data-toast-icon' => 'fe-icon-check-circle', :'data-toast-title' => 'Product', :'data-toast-message' => 'added to cart successfuly!' %></div>
                  </div>
                </div>
              </div>
            </div>
     		<% end %>
          </div>
          <div class="pt-3">
            <!-- Pagination-->
            <nav class="pagination"><a class="prev-btn" href="#"><i class="fe-icon-chevron-left"></i>Précédent</a>
              <ul class="pages">
                <li class="d-block d-sm-none w-100">2 / 18</li>
                <li class="d-none d-sm-inline-block"><a href="#">1</a></li>
                <li class="d-none d-sm-inline-block active"><a href="#">2</a></li>
                <li class="d-none d-sm-inline-block"><a href="#">3</a></li>
                <li class="d-none d-sm-inline-block"><a href="#">4</a></li>
                <li class="d-none d-sm-inline-block"><a href="#">5</a></li>
                <li class="d-none d-sm-inline-block">...</li>
                <li class="d-none d-sm-inline-block"><a href="#">18</a></li>
              </ul><a class="next-btn" href="#">Suivant<i class="fe-icon-chevron-right"></i></a>
            </nav>
          </div>
        </div>
      </div>
    </div>